:root{
  --orange: #FC7300;
  --green: #1F8A70;
  --blue: #00425A;
  --black: #181823;
  --grey: #EFF5F5;
}
*{ 
  box-sizing: border-box; 
  padding:0; margin:0;
}
html{ scroll-behavior: smooth; }
ul{ list-style-type: none; }
nav a{ 
text-decoration: none;
color: var(--black);
}
a:link{}
a:visited{}
a:hover,a:focus{}
a:active{}
/*
label,textarea{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
textarea{
  max-width: 100%;
}
*/
/* Vista en grillas tradicional */
.row::after{
    content: "";
    clear: both;
    display: table;
}
/* Para teléfonos mobiles */
[class*="col-"] {
    float:left;
    width: 100%;
    padding: 1em;
    border: solid red;
  }
@media only screen and (min-width: 476px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

/* CLASES */
.container{
  margin:0 1rem;
  display: relative;
}
.container-fluid{
  display: relative;
  padding: 0 1rem;
}
.clearfix{ clear:both; }
.nav{
  border-bottom: solid black;
  background-color:var(--orange);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.nav__links{
  display: flex;
  align-items: stretch;
  text-align: center;
}
.nav__link{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  padding: .25rem 0;
}
.nav__link--active{

}
.header{
  position:relative;
  height: 33.333vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;/*
  background-image: url(../img/escuela.jpg);
  background-position: center;
  background-size: contain;*/
}
.header__img{
  height: 100%;
  width:100%;
  object-fit: fit-content;
  opacity: 0.4
}
.header__titulo{
  position: absolute;
  bottom: 50%;
  left:0; right:0;
  margin: 0 auto;
  font-weight: 700;
}
.main{
  background-color: var(--green);
}
.main__titulo, .noticias__titulo, .form__titulo{
  padding-top:1rem;
  font-family: 'Belanosima', sans-serif;
  font-weight: 700;
}
.main__img{
  height: 196px; width:196px;
  padding:1rem 0;
  margin: 1rem 0;
  background-color: var(--black);
}
.main__titulo--right{ text-align: right;} 
.main__img--right, .main__p--right{
  float: right;
}
.pie__mapa{
  height:156px;
  width:156px;
}
.main__img img{
  width: 100%; 
  height: 100%;
  object-fit: contain;
}
.main__p{
  font-family: 'Poppins', sans-serif;
  font-weight:300;
  text-align: justify;
  width: 83.33%;
  padding-bottom: 1rem;
}
.main__hexagono{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid grey;
}
.main__hexagono:last-of-type {
  padding-bottom: 1rem;
}
.hexagono__titulo{
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  margin-top: -2em;
}
.hexagono{
  visibility: hidden;
  overflow: hidden;
  width: 150px; height: 300px;
  transform: rotate(120deg);
  margin-top: -2rem;
}
.hexagono-in1, .hexagono-in2{
  display: block;
  width: 100%; height:100%;
  transform: rotate(-60deg);
}
.hexagono-in1--hidden{ overflow: hidden; }
.hexagono-in2--visible{ 
  visibility: visible; 
  color: black;
}
.hexagono__img-1{
  background-image: url("../img/mirando_arriba.jpg");
  background-size: contain;
  background-position: center;
}
.hexagono__img-2{
  background-image: url("../img/maestros.jpg");
  background-size: contain;
  background-position: center;
}
.hexagono__img-3{
  background-image: url("../img/grupo_ninos.jpg");
  background-size: contain;
  background-position: center;
}
.noticias{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding-top: .5rem;
  padding-bottom:3rem;
  }
.noticias__p{
    font-weight:300;
  }
.pie{
  overflow: hidden;
  background-color: var(--orange);
}
.pie__titulo{
  padding: .5rem 0 1rem;
  color: var(--black);
}
.rrss__list a{
  text-decoration: none;
}
.rrss__link{
   margin: .5rem 0;
}
.rrss__img,.contacto__link img{
  vertical-align: middle;
}
.contacto{
  background-color: var(--grey);
  padding: .5rem 0 2rem 0;
}
.contacto__titulo{ 
color: var(--green); 
padding-top: 1rem;
margin-bottom:2rem;
}
.contacto__list a{
  text-decoration: none;
}
.contacto__link{
  margin-bottom:.5rem;
}
.contacto__link a:last-of-type{
}
.contacto__link h4{
  padding: .5rem 0;
}
.form{
  font-size: 1rem;
  background-color: var(--green);
}
.form__fieldset{
  padding: 1rem;
  border: none;
}
.form__label{
  float: left;
  color: var(--black);
  width:100%;
  margin:.2rem 0;
  text-align: left;
  text-indent: 3px;
  font-weight: 700;
  padding: .5rem 0;
}
.form__input{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
  padding: .8rem .2rem;
  border:1px solid var(--grey);
  width:100%;
  background-color: var(--grey);
  outline: 0;
  border-radius: 0.25rem;
}
.form__input:focus{
  box-shadow: 0 0 0 1px var(--black);
}
.form__textarea{ margin-bottom: .5rem; }
.checkbox__label{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.checkbox__input{
  vertical-align: -10%;
}
.form__button{
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  padding: .5rem 2rem;
  background-color: var(--green);
  border: 2px solid var(--grey);
  margin-top: .5rem;
}
.form__button:active{
  /* Se invierten los colores */
  background-color: var(--black);
  color: var(--grey);
}
/* ID'S */
#porque_elegirnos{
  background-color: var(--grey);
  height: 100vh;
}
#quienes_somos{ height: 100vh; }
#propuesta_educativa{
  overflow: hidden;
  background-color: var(--blue);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-top: .25rem;
  padding-bottom: 2rem;
}
/* OTROS SELECTORES */
[class$=--grey]{
  color: var(--grey);
  }
[aria-current="page"]{
/* para los links activos */
}
